<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-button  (click)="goBack()" fill="clear" slot="start">
      <img width="28px" class="toolbar-img" src="/assets/icons/atras.png" alt="hotel">
    </ion-button>
    <img *ngIf="Logo!==''" class="toolbar-img" src={{Logo}} alt="hotel">
    <ion-button [routerLink]="['/login']" fill="clear" slot="end">
      <img width="28px" class="toolbar-img" src="/assets/icons/user.png" alt="hotel">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src={{ImgSrc}} alt="hotel">
    <div class="text">
      {{Address}}
    </div>
    <div id="map" class="map"></div>  
</ion-content>
