.toolbar{
    --background: white;
    padding: 16px 0 ;
    text-align: center;
    padding-bottom: 0;
    ion-icon{
        color: var(--app-color-1);
    }

    &>.toolbar-img{
        width: 150px;     
    }
    // &>.toolbar-back{
        
    // }
}

ion-item{
    --background: white;
}

ion-content{
    &>.description{
        width: 80%;
        margin: 0 auto;
        padding: 12px;
        text-align: center;
        color: var(--app-color-4);
    }
    &>ion-accordion-group{
        &>ion-accordion{
            color: var(--app-color-1);
            ion-label{
                padding-left: 12px;
                color: var(--app-color-4);
            }
        }
    }

}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background: var(--app-color-2);
    .left{
        text-align: left;
    }
    &>.text{
        color: var(--app-color-4);
        font-size: 16px;
        width: 90%;
        padding: 6px;
    }
    &>.map{
        height: 250px;
        width: 85%;
    }
    a{
        color: var(--app-color-1);
        align-self: flex-start;
        margin-left: 7.5%;
    }
}